#h2
{
    text-align: center;
  }

.color
{
    color: rgb(201, 71, 71);
}
 
.img
{
  border-style: dotted;
    border-width: 2px;
}

.class{
    text-align: center;
}
.class1{
    display:inline-block;
    text-align: center;
    
}
.class2{
   
    
    border-style: dotted;
    border-width: 2px;
    border-color: black;
}
.class3{
    display: inline-block;
    text-align: center;
    border-style:groove;
    border-width: 2px;
    border-color: black;
}
.class4{
   
    
    border-style:double;
    border-width: 2px;
    border-color: black;
}
.style{
    border: 2px;   
    background-color: white;
}

.align{
    text-align: right;
}

.wrapper{
    display: flex;
    width: 1415px;
    flex-wrap: wrap;
}

.wrapper > div{
    flex: 1 1 auto;
}


.margin{
    margin: 10px;
}

.wrapper2{
    
    display: grid;
    width: 800px;
    grid-template-columns: repeat(3, 10fr);
   
}


.wrapper3{
    display: flex;
    width: 800px;
    flex-wrap: wrap;
}
.wrapper3 > div{
    flex: 1 1 auto;
}